<template>
  <div>
    <Section
      v-if="hero"
      v-bind="hero"
      tag="header"
    />
    <Nav />
    <main><slot /></main>
    <Footer />
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import { Content } from '@/typescript/contentful';

export default Vue.extend({
  name: 'Main',
  props: { hero: Object as () => Content },
  data() { return {}; },
  methods: {},
});
</script>
