@use './colors';

:root {
  @include colors.light;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
menu,
dd,
hr,
pre,
button,
input,
select,
textarea,
fieldset,
legend,
figure,
blockquote,
iframe,
dialog,
table,
th,
td,
tbody,
tr,
tfoot,
thead,
colgroup {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
select,
progress,
meter {
  -moz-appearance: none;  /* Firefox */
  -webkit-appearance: none;  /* Chrome, Safari */
  appearance: none;  /* Edge, possibly future? */
}

ol,
ul {
  list-style: none;
}

li::before {
  content: '\200C';
  position: absolute;
}

a,
abbr {
  text-decoration: none;
}

dfn,
address {
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 400 18px #{theme('fontFamily.sans')};
}

body {
  -ms-text-size-adjust: 100%;  /* Edge, IE Mobile */
  -moz-text-size-adjust: 100%;  /* Firefox Android */
  -webkit-text-size-adjust: 100%;  /* iOS Safari 5+ */
  text-size-adjust: 100%;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;  /* Firefox Mac OS */
  -webkit-font-smoothing: antialiased; /* Chrome, Safari Mac OS */
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Mimic Mac OS for Windows */
}

input,
select,
button,
textarea {
  font: inherit;
}

video,
img,
object,
svg,
iframe,
embed {
  display: block;
}

img,
svg,
object {
  width: 100%;
  font-size: 0;
}

a {
  font-weight: 700;
  color: inherit;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: theme('colors.primary');
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select,
button,
input,
[role=button] {
  box-sizing: content-box;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: geometricPrecision;
}

p {
  letter-spacing: 0.01em;
  line-height: 1.5;
  -webkit-hyphens: none;  /* Safari 5+ */
  hyphens: none;
}


@media (prefers-color-scheme:dark) {
  :root {
    @include colors.dark;
  }
}
