@mixin light {
  --white: #fff;
  --black: #000;
  --primary: hsl(170,60%,50%);
  --secondary: hsl(200,60%,60%);
  --warning: hsl(40,60%,60%);
  --info: hsl(220,60%,60%);
  --success: hsl(140,60%,60%);
  --error: hsl(10,60%,50%);
  --text-primary: #393939;
  --text-secondary: #f4f4f4;
  --surface-primary-1: #f3f3f3;
  --surface-primary-2: #c2c2c2;
  --surface-primary-3: #aaa;
  --surface-secondary-1: #333;
  --surface-secondary-2: #555;
  --surface-accent-1: hsl(250,60%,60%);
  --grey-1: #f6f6f6;
  --grey-2: #ededed;
  --grey-3: #cfcfcf;
  --grey-4: #bcbcbc;
  --grey-5: #9d9d9d;
  --grey-6: #747474;
  --grey-7: #606060;
  --grey-8: #414141;
  --grey-9: #1f1f1f;
}

@mixin dark {
  --text-primary: #eee;
  --surface-primary-1: #222;
  --surface-primary-2: #444;
}