<template>
  <footer>
    <p>
      <small>
        Copyright {{ year }} {{ $config.author }}. Photo by
        <a :href="credit">Niklas Priddat</a>
        on
        <a :href="unsplash">Unsplash</a>.
      </small>
    </p>
  </footer>
</template>


<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Footer',
  props: {},
  data() {
    return {
      year: new Date().getFullYear(),
      unsplash: 'https://unsplash.com',
      credit: 'https://unsplash.com/@ntothep?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText',
    };
  },
  methods: {},
});
</script>


<style src="./Footer.scss" lang="scss" scoped></style>
