<template>
  <picture v-if="desktop">
    <source
      v-if="mobile"
      media="(max-width:1023px)"
      :srcset="mobileList"
    >
    <source
      v-if="mobile"
      media="(min-width:1024px)"
      :srcset="desktopList"
    >
    <source
      v-if="!mobile"
      :srcset="desktopOnlyList"
    >
    <img
      :src="desktop"
      :alt="text"
    >
  </picture>
</template>


<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ResImage',
  props: {
    desktop: String,
    mobile: String,
    text: String,
  },
  data() {
    const { mobile, desktop } = this;

    return {
      mobileList:
        `${mobile}?w=720 720w,
        ${mobile}?w=750 750w,
        ${mobile} 900w`,
      desktopList:
        `${desktop}?w=1440 1440w,
        ${desktop}?w=1920 1920w,
        ${desktop} 2400w`,
      desktopOnlyList:
        `${desktop}?w=750 750w,
        ${desktop}?w=1080 1080w,
        ${desktop}?w=1440 1440w,
        ${desktop}?w=1920 1920w,
        ${desktop} 2400w`,
    };
  },
  methods: {},
});
</script>


<style src="./ResImage.scss" lang="scss" scoped></style>
