<template>
  <header
    v-if="tag === 'header'"
    :aria-label="heading || undefined"
  >
    <slot />
  </header>
  <article
    v-else-if="tag === 'article'"
    :aria-label="heading || undefined"
  >
    <slot />
  </article>
  <section
    v-else
    :aria-label="heading || undefined"
  >
    <slot />
  </section>
</template>


<script lang="ts">
import Vue, { PropType } from 'vue';
import { sectionTypes, SectionType } from '@/constants';

export default Vue.extend({
  name: 'SectionComponent',
  props: {
    heading: String,
    tag: {
      type: String as PropType<SectionType>,
      validator: (prop: SectionType) => sectionTypes.includes(prop),
      default: 'section',
    },
  },
});
</script>
