<template>
  <SectionComponent
    :tag="tag"
    :heading="heading"
  >
    <ResImage
      v-if="desktop"
      :desktop="desktop"
      :mobile="mobile"
      :text="text"
    />
    <h1 v-if="heading">
      {{ heading }}
    </h1>
    <p v-if="copy">
      {{ copy }}
    </p>
  </SectionComponent>
</template>


<script lang="ts">
import Vue from 'vue';
import { Image } from '@/typescript/contentful.d';

export default Vue.extend({
  name: 'Section',
  props: {
    heading: String,
    copy: String,
    asset: Object as () => Image,
    tag: String,
  },
  data() {
    const { desktop, mobile } = this.asset || {};

    return {
      desktop: desktop?.url,
      mobile: mobile?.url,
      text: desktop?.description || '',
    };
  },
  methods: {},
});
</script>


<style scoped src="./Section.scss" lang="scss"></style>
