section,
header,
article {
  contain: content;
}

section {
  padding: theme('spacing.3');
  margin-block-start: theme('spacing.3');
}


header {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;

  h1 {
    font-weight: 700;
    letter-spacing: .01ch;
    color: theme('colors.text.secondary');
    padding: 0 #{theme('spacing.2')};
  }
  
  p {
    color: theme('colors.text.secondary');
    padding: theme('spacing.2');
    width: min(100%, 800px);
  }
}

picture {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}