<template>
  <Main>
    <Section comp="header">
      <h1>About Page</h1>
    </Section>
  </Main>
</template>


<script lang="ts">
import Vue from 'vue';
import request from '@/plugins/request';
import { Entry } from '@/constants';
import { Page } from '@/typescript/contentful';

export default Vue.extend({
  async asyncData() {
    const { page } = await request<Page>(`#graphql
      {
        page(id: "${Entry.ABOUT}") {
          title
          description
        }
      }
    `);

    return { page };
  },
  head() {
    const { title, description } = this.$data.page || {};

    return {
      title,
      meta: [{
        hid: 'about-description',
        name: 'description',
        content: description,
      }],
    };
  },
});
</script>
