<template>
  <Main :hero="hero">
    <Section
      v-for="content of contents"
      v-bind="content"
      :key="content.sys.id"
    />
  </Main>
</template>


<script lang="ts">
import Vue from 'vue';
import request from '@/plugins/request';
import { Page } from '@/typescript/contentful';
import { Entry } from '@/constants';

export default Vue.extend({
  async asyncData() {
    const { page } = await request<Page>(`#graphql
      {
        page(id: "${Entry.HOME}") {
          title
          description
          content: contentCollection(limit: 3) {
            items {
              sys {
                id
              }
              heading
              copy
              asset {
                desktop {
                  url
                  description
                }
                mobile {
                  url
                }
              }
            }
          }
        }
      }
    `);

    const [hero, ...contents] = page?.content?.items || [];

    return {
      page,
      hero,
      contents,
    };
  },
  head() {
    const { title, description } = this.$data.page || {};

    return {
      title,
      meta: [{
        hid: 'home-description',
        name: 'description',
        content: description,
      }],
    };
  },
});
</script>
