nav {
  contain: content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: theme('spacing.4');
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: theme('colors.surface.primary.1');

  a {
    margin: 0 #{theme('spacing.1')};
  }
}
