<template>
  <nav aria-label="Site Navigation">
    <NuxtLink
      v-for="[name, slug] of links"
      :key="name"
      :to="slug"
      :href="slug"
      :aria-current="current(slug)"
    >
      {{ name }}
    </NuxtLink>
  </nav>
</template>


<script lang="ts">
import Vue from 'vue';
import { Nav } from '@/constants';

export default Vue.extend({
  name: 'Nav',
  props: {},
  data() { return {}; },
  computed: {
    links(): string[][] {
      return Object.entries(Nav);
    },
  },
  methods: {
    current(arg: string): string | undefined {
      return this.$route.path === arg ? 'page' : undefined;
    },
  },
});
</script>


<style src="./Nav.scss" lang="scss" scoped></style>
